<%= stylesheet_link_tag 'pdf', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pdf', "data-turbolinks-track" => true %>

<!-- Animación Cargando cuando se genera pdf -->
<div id="cargando" class="well">
  <div class="loader"></div>
  <div>Cargando historia academica...</div>
</div>

<div class="container-fluid" style="padding-right:20px; margin-bottom: -24px">

    <div class="row" style="margin-top:25px ">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h2>¡Parece que es tu primera vez en Ataraxia!</h2>
            </div>
        </div>

    <div class="col-md-6" style="background-color: #f1faff;">
        <div align="center">
            <h1 style="font-size:300%; color: darkcyan;"><b>Historia Académica</b></h1>
            <h2 style="font-size:200%"><b>¡Necesitamos saber más sobre ti!</b></h2>
            <p style="font-size:150%">Abre tu historia academica 
                <a href="http://sia.bogota.unal.edu.co/academia/inicio/do-login" target="_blank">(SIA)</a> y presiona <br> 
                CTRL+A y CTRL+C. <br>  
                Luego debes pegar todo<br> 
                en el siguiente cuadro:</p>
        </div>
        <div style="padding: 0% 10% 0% 10%;">
            <div class="form-group">
                <% @history = Historiaacademica.new %>
                <%= form_for @history, :url => submit_historia_academica_path, method: :post do |f|  %>
                <div id="respuesta" style="display: none;"></div>
                <%= f.text_area :informacion, required: true,  :class => 'form-control', rows: 7 %>      
            </div>
        </div>
        <div align="center" style="margin-bottom:20px">
            <%= f.submit 'Continuar', :class => 'btn btn-success btn-ms', :style => 'margin-top: -8% align: center', :align => 'center', :onclick => 'myFunction()' %>
            <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-danger btn-ms' %>
        </div>
        <% end %>
        
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#bienvenida").modal('show');
    });
</script>

<div id="bienvenida" class="modal fade">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: black">
                    <button type="button" class="close" style="color: white; opacity: 0.8;" data-dismiss="modal" aria-hidden="true">&times;</button>
               ¡Hola!, parece que eres un nuevo usuario
            </div>
            <div class="modal-body">
               <h4 align="center"><b>Ataraxia aún no está disponible para toda la universidad</b></h4><br>
               Por el momento sólo está para la sede <b>Bogotá</b>, pero si eres de alguna de las siguientes carreras:
               <br>
               <ul type = disk >
                    <li>Arquitectura</li>
                    <li>Artes plásticas</li>
                    <li>Ciencias de la computación</li>
                    <li>Cine y televisión</li>
                    <li>Estudios literarios</li>
                    <li>Fisioterapia</li>
                    <li>Geografía</li>
                    <li>Matemáticas</li>
                    <li>Música</li>
                    <li>Música internacional</li>
                    <li>Odontología</li>
                    <li>Psicología</li>
                    <li>Zootecnia</li>
                </ul>
                aún no agregamos tu carrera a la página, pero no es porque nuestros desarrolladores sean vagos, bueno sí son vagos, pero no es por eso. <br>
                <p>La razón es que no hemos podido encontrar la malla estandar de esas carreras, si tú la tienes o conoces a alguien que la tenga por favor que nos la envie a nuestro  <a href="https://www.facebook.com/AtaraxiaUN/" target="_blank">Facebook</a> y la agregaremos en cuanto podamos.</p>
                <br><b>Si no eres de esas carreras y aún así no pudiste entrar, te agradeceriamos mucho si nos escribes para informarnos del error.</b>            
            </div>
            <div class="modal-footer" style="background-color: black">
Siguenos en Facebook para enterarte de todas las novedades
                </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer', :vista=> "normal"%>