<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia <%= current_user.name %> !</h1>
                <h3>Por favor escoje una opción</h3>
            </div>
        </div>
    <div class="col-md-3">
        <div style="background-color: lightblue; margin: 0% 0% 0% 0%; padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Óptima</h2> 
            <p style="font-size:15px">Descubre cuál es la malla creada por Ataraxia, para graduarte en el menor tiempo posible.</p>
            <div align="center" ><%= link_to '¡Crear!', admin_malla_path, :class => "btn btn-success btn-lg disabled" %></div>
        </div>
    </div>
     <div class="col-md-3">
        <div style="background-color: PapayaWhip ;   padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Estandar</h2> 
            <p style="font-size:15px">Consulta las mallas estandar para carrera en la Universidad Nacional de Colombia, sede Bogotá.</p>
            <div align="center" ><%= link_to '¡Consultar!', admin_malla_path, :class => "btn btn-success btn-lg disabled" %></div>
        </div>
    </div>
    <div class="col-md-3" style="margin: 2% 0% 0% 0%;">
        <div style="background-color: PaleGoldenRod ;  padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Malla Personal</h2> 
            <p style="font-size:15px">Crea tu propia malla, a tu gusto, guardala y compartela con tus amigos.</p>
            <div align="center" ><%= link_to '¡Crear!', admin_malla_path, :class => "btn btn-success btn-lg disabled" %></div>
        </div>
    </div>
         <div class="col-md-3" style="margin: 2% 0% 0% 0%;">
        <div style="background-color: LightSalmon ;   padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Avance</h2> 
            <p style="font-size:15px">Consulta tu avance en la carrera de una forma grafica e interactiva.</p>
            <div align="center" ><%= link_to '¡Ver!', admin_malla_path, :class => "btn btn-success btn-lg disabled" %></div>
        </div>
    </div>
  </div>
</div>
