<%= stylesheet_link_tag 'student', media: 'all', 'data-turbolinks-track' => true %>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia <%= current_user.name %>!</h1>
            </div>
             <div align="center" style="margin: 5% 5%;">
                <%= link_to 'Ver perfil', current_user, :class => "btn btn-info  btn-lg" %>
                <%= link_to 'Estadísticas', student_estadisticas_path, :class => "btn btn-warning  btn-lg" %>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="row" style="margin: 0 0 0 0">
                
                <!-- Malla optima-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: LightSalmon  ">
                    <h2 style="font-size:60px">Malla <br>Óptima</h2> 
                    <p style="font-size:15px">Descubre cuál es la malla para graduarte en el menor tiempo posible.</p>
                    <div align="center">
                        <div class="form-group" align="center">
                            <%= form_for :post, :url => generate_malla_optima_path do |f|  %>
                            <%= f.label "Créditos" %>
                            <%= select_tag "credits", options_for_select((StudentHasSubject.min_credits(current_user.id,  @malla.career_id)..30).step(1)) %> &nbsp
                            <%= f.submit '¡Crear!',:class => "btn btn-success btn-lg"  %>
                            <% end %>
                        </div>
                    </div>
                </div>
                
                <!-- Malla personal-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: lightblue;">
                    <h2 style="font-size:60px">Malla <br>Personal</h2> 
                    <p style="font-size:15px">Edita tu propia malla, a tu gusto, guardala y compartela con tus amigos.</p>
                    <div align="center">
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Ver Malla
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><%= link_to "<p class='glyphicon glyphicon-ok'></p>&nbsp;Sin materias perdidas".html_safe, student_malla_personal_path(0) %></li>
                                <li><%= link_to "<p class='glyphicon glyphicon-remove'></p>&nbsp;Con materias perdidas".html_safe, student_malla_personal_path(1) %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row" style="margin-top: 0px;margin-right: 0px;margin-left: 0px;">
                
                <!-- Malla estandar-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: PapayaWhip ;">
                    <h2 style="font-size:60px">Malla <br>Estándar</h2> 
                    <p style="font-size:15px">Consulta las mallas estandar para carrera en la Universidad Nacional de Colombia, sede Bogotá.</p>
                     <div align="center">
                        <div class="dropdown" style="display: inline-block;">
                            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Consultar<span class="caret"></span></button>
                            <ul class="dropdown-menu" style="height:115px; overflow: auto;" align="left">
                            <% Career.all.each do |career| %>
                                <li 
                            <% if career.faculty=="Ciencias Económicas" %> 
                                style="background-color: #f9e6ff;" 
                            <%elsif career.faculty=="Ciencias"%>
                                style="background-color: #d6f5d6;" 
                            <%elsif career.faculty=="Ingeniería"%>
                                style="background-color: #ccebff;"
                            <%elsif career.faculty=="Medicina"%>
                                style="background-color: #ccccff;"
                            <%elsif career.faculty=="Artes"%>
                                style="background-color: #ffffb3;"    
                            <%elsif career.faculty=="Ciencias Agrarias"%>
                                style="background-color: #ffd6cc;"
                            <%elsif career.faculty=="Ciencias Humanas"%>
                                style="background-color: #d9b3ff;"
                            <%elsif career.faculty=="Derecho, ciencias políticas y sociales"%>
                                style="background-color: #eeffcc;"
                            <%elsif career.faculty=="Enfermería"%>
                                style="background-color: #ffccff;"
                            <%end%>
                        >
                            <%= link_to career.name, guess_malla_path(career.id) %></li>
                            <% end %>
                            </ul>
                        </div>
                    </div>            
                </div>
                
                <!-- Malla Avance-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: PaleGoldenRod ;">
                        <h2 style="font-size:60px">Malla <br>Avance</h2> 
                        <p style="font-size:15px">Consulta tu avance en la carrera de una forma grafica e interactiva.</p>
                        <div align="center" ><%= link_to '¡Ver!', student_malla_avance_path, :class => "btn btn-success btn-lg" %></div>
                </div>            
            </div>
        </div>
    </div>
</div>


<%= render 'layouts/footer', :vista => "normal" %>