<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia <%= current_user.name %>!</h1>
                <h3>Por favor escoje una opción</h3>
            </div>
        </div>
    <div class="col-md-3">
        <div style="background-color: PapayaWhip ;   padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Estandar</h2> 
            <p style="font-size:15px">Consulta las mallas estandar para carrera en la Universidad Nacional de Colombia, sede Bogotá.</p>
             <div align="center">
                <div class="dropdown" style="display: inline-block">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Consultar<span class="caret"></span></button>
                    <ul class="dropdown-menu">Mallas existentes
                    <% Career.all.each do |career| %>
                        <li><%= link_to career.name, student_malla_estandar_path(career.id) %></li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-3">
                <div style="background-color: lightblue; margin: 0% 0% 0% 0%; padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Óptima</h2> 
            <p style="font-size:15px">Descubre cuál es la malla creada por Ataraxia, para graduarte en el menor tiempo posible. <br><i>Pa' cuándo el grado mijo.</i></p>
            <div align="center" ><%= link_to '¡Crear!', student_malla_optima_path, :class => "btn btn-success btn-lg" %></div>
        </div>
        
    </div>
    <div class="col-md-3" style="margin: 2% 0% 0% 0%;">
        <div style="background-color: PaleGoldenRod ;  padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Malla Personal</h2> 
            <p style="font-size:15px">Edita tu propia malla, a tu gusto, guardala y compartela con tus amigos.</p>
            <div align="center" ><%= link_to '¡Opcion 1!', student_malla_personal_path(0), :class => "btn btn-success btn-lg" %><%= link_to '¡Opción 2!', student_malla_personal_path(1), :class => "btn btn-danger btn-lg" %></div>
        </div>
    </div>
         <div class="col-md-3" style="margin: 2% 0% 0% 0%;">
        <div style="background-color: LightSalmon ;   padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Malla Avance</h2> 
            <p style="font-size:15px">Consulta tu avance en la carrera de una forma grafica e interactiva.</p>
            <div align="center" ><%= link_to '¡Ver!', student_malla_avance_path, :class => "btn btn-success btn-lg" %></div>
        </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer', :vista=> "normal"%>