<%= stylesheet_link_tag 'student', media: 'all', 'data-turbolinks-track' => true %>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido/a a Ataraxia, <%= current_user.name %>!</h1>
            </div>
             <div align="center" style="margin: 5% 5%;">
                <%= link_to 'Ver perfil', current_user, :class => "btn btn-info  btn-lg" %>
                <%= link_to 'Estadísticas', student_estadisticas_path, :class => "btn btn-warning  btn-lg" %>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="row" style="margin: 0 0 0 0">
                
                <!-- Malla optima-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: LightSalmon  ">
                    <h2 style="font-size:60px">Malla <br>Óptima</h2> 
                    <p style="font-size:15px">Descubre cuál es la malla para graduarte en el menor tiempo posible.</p>
                    <div align="center">
                        <div class="form-group" align="center">
                            <%= form_for :post, :url => generate_malla_optima_path do |f|  %>
                            <%= f.label "Créditos" %>
                            <%= select_tag "credits", options_for_select((StudentHasSubject.min_credits(current_user.id,  @malla.career_id)..30).step(1)) %> &nbsp
                            <%= f.submit '¡Crear!',:class => "btn btn-success btn-lg"  %>
                            <% end %>
                        </div>
                    </div>
                </div>
                
                <!-- Malla personal-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: lightblue;">
                    <h2 style="font-size:60px">Malla <br>Personal</h2> 
                    <p style="font-size:15px">Edita tu propia malla, a tu gusto, guardala y compartela con tus amigos.</p>
                    <div align="center">
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Ver Malla
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><%= link_to "<p class='glyphicon glyphicon-ok'></p>&nbsp;Sin materias perdidas".html_safe, student_malla_personal_path(0) %></li>
                                <li><%= link_to "<p class='glyphicon glyphicon-remove'></p>&nbsp;Con materias perdidas".html_safe, student_malla_personal_path(1) %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row" style="margin-top: 0px;margin-right: 0px;margin-left: 0px;">
                
                <!-- Malla estandar-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: PapayaWhip ;">
                    <h2 style="font-size:60px">Malla <br>Estándar</h2> 
                    <p style="font-size:15px">Consulta las mallas estandar para carrera en la Universidad Nacional de Colombia, sede Bogotá.</p>
                     <div align="center">
                        <div class="dropdown" style="display: inline-block;">
                            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Consultar<span class="caret"></span></button>
                            <ul class="dropdown-menu" style="height:115px; overflow: auto;" align="left">
                            <% aux=Career.all.order(:name) %>
                             <% aux.each do |career| %>
                                <li 
                            <% if career.faculty=="Ciencias Económicas" %> 
                                style="background-color: #f9e6ff;" 
                            <%elsif career.faculty=="Ciencias"%>
                                style="background-color: #d6f5d6;" 
                            <%elsif career.faculty=="Ingeniería"%>
                                style="background-color: #ccebff;"
                            <%elsif career.faculty=="Medicina"%>
                                style="background-color: #ccccff;"
                            <%elsif career.faculty=="Artes"%>
                                style="background-color: #ffffb3;"    
                            <%elsif career.faculty=="Ciencias Agrarias"%>
                                style="background-color: #ffd6cc;"
                            <%elsif career.faculty=="Ciencias Humanas"%>
                                style="background-color: #d9b3ff;"
                            <%elsif career.faculty=="Derecho, ciencias políticas y sociales"%>
                                style="background-color: #eeffcc;"
                            <%elsif career.faculty=="Enfermería"%>
                                style="background-color: #ffccff;"
                            <%elsif career.faculty=="Medicina Veterinaria y de Zootecnia"%>
                                style="background-color: #b3ffff;"
                            <%elsif career.faculty=="Odontología"%>
                                style="background-color: #ffb3ff;"
                            <%end%>
                        >
                            <%= link_to career.name, guess_malla_path(career.id) %></li>
                            <% end %>
                            </ul>
                        </div>
                    </div>            
                </div>
                
                <!-- Malla Avance-->
                <div class="col-md-6 col-sm-12 menuMallas" style="background-color: PaleGoldenRod ;">
                        <h2 style="font-size:60px">Malla <br>Avance</h2> 
                        <p style="font-size:15px">Consulta tu avance en la carrera de una forma grafica e interactiva.</p>
                        <div align="center" ><%= link_to '¡Ver!', student_malla_avance_path, :class => "btn btn-success btn-lg" %></div>
                </div>            
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#bienvenida").modal('show');
    });
</script>

<div id="bienvenida" class="modal fade">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: black">
                    <button type="button" class="close" data-dismiss="modal" style="color: white; opacity: 0.8;" aria-hidden="true">&times;</button>
               ¡Hola!, por favor lee lo siguiente:
            </div>
            <div class="modal-body">
               <h4 align="center"><b>Te queremos recordar un par de cosas:</b></h4><br>
               <ul type = disk >
                    <li>Esta página web AÚN NO ESTÁ TERMINADA. Lo que estás usando es una versión Beta, en la cual es probable que encuentres <b>errores</b>.</li>
                    <li>Es muy importante que nos informes de estos errores para poder arreglarlos lo más pronto posible. Puedes contactarte con nosotros a través de nuestro <a href="https://www.facebook.com/AtaraxiaUN/" target="_blank">Facebook</a> o de nuestra sección de <%= link_to "Contactanos", contact_direct_path %>. </li>
                    <li>Nos faltan dos componentes importantes: <b>óptativas y correquisitos.</b> Así que si tu carrera cuenta con lo anterior, te pedimos paciencia mientras terminamos <i>Ataraxia</i>.<br>Aún puedes usar la página, pero tu experiencia no será completa. </li>
                    <li>La sección de <%= link_to "Estadisticas", student_estadisticas_path %> usa los datos de nuestros usuarios, así que si eres una de las primeras personas en usar <i>Ataraxia</i> notarás las estadisticas un poco vacias, te pedimos que nos ayudes a crecer y recomiendes nuestra página con tus amigos. <br><i>Entre más gente use la página, nuestras estadisticas estarán más completas</i>.</li>
                </ul>

            </div>
            <div class="modal-footer" style="background-color: black">
¡Qué tengas buen día!
                </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer', :vista => "normal" %>