<%= stylesheet_link_tag 'pdf', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pdf', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'show', "data-turbolinks-track" => true %>

<!-- Animación Cargando cuando se genera pdf -->
<div id="cargando" class="well">
  <div class="loader"></div>
  <div>Generando pdf...</div>
</div>


<div class="row">
  <div class="col-sm-4">
     <img  width="60%" class="img-responsive" src="/unalBogota.png" class="img-fluid" alt="UN" style="margin: 0px 20px;" />
  </div>
  
  <div class="col-sm-4">
     <h1 align="center">Malla Personal</h1>
     <h3 align="center"><%= Career.find_by_code(@user.carrer).name %> (<%= @user.carrer %>)</h3>
  </div>
  
  <div class="col-sm-4">
    <h4>Tipología de materias</h4>
    <ul style="list-style: none;">
      <li><p class="glyphicon glyphicon-th-list" style="color: #fec34c"></p> Fundamentación</li>
      <li><p class="glyphicon glyphicon-th-list" style="color: #32cd32;"></p> Disciplinar</li>
      <li><p class="glyphicon glyphicon-th-list" style="color: #45d0ff"></p> Libre Elección</li>
    </ul>
  </div>
</div>


<!--search_by: ['todas', 'codigo', 'tipologia']-->
<%= render 'layouts/mallas', :vista =>"student_malla",  malla: @malla_personal, user: @user, add_subjects_enabled: true, :pdf => false, search_by: ['todas', 'codigo'], :estadisticas => false, show_approved: @show_approved, :s_vista => "personal"%>
<%= render 'layouts/footer', :vista =>"student_malla", :s_vista => "personal"%>
<!-- The Modal Ayuda -->

  <div id="myModal6" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header modal-ayuda" style="width: 800px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Ventana de ayuda</h2>
        </div>
        <div class="modal-body" >
          <div align="center"><img width="80%" class="img-responsive" src="/ayuda_personal.png" class="img-fluid" alt="help" /></div>
        </div>
      </div>
    </div>
  </div>
