<%= stylesheet_link_tag 'pdf', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pdf', "data-turbolinks-track" => true %>

<!-- Animación Cargando cuando se genera pdf -->
<div id="cargando" class="well">
  <div class="loader"></div>
  <div>Generando pdf...</div>
</div>

<h1 align="center">Materias dificiles en <%= @career.name %></h1>  

<%= render 'layouts/mallas', :vista =>"guess_malla", :user => current_user, :malla => @malla, :pdf => false, add_subjects_enabled: false, :estadisticas => true, :notas => false %>
<%= render 'layouts/footer', :vista =>"student_malla", :s_vista => "dificiles"%>
<!-- The Modal Ayuda -->

  <div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header modal-ayuda">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Ventana de ayuda</h2>
        </div>
        <div class="modal-body" >
          <div align="center"><img width="80%" class="img-responsive" src="/ayuda_dificiles.png" class="img-fluid" alt="help" /></div>
        </div>
      </div>
    </div>
  </div>



