<%= devise_error_messages! %>
<img src="/universidad3.jpg" class="bottomImage">
<div class="row">
  <div class = "col-sm-4"></div>
		<div class = "col-sm-4 well">
      <h1 align="center">¡Registrate en Ataraxia!</h1>
        <div align="center"><img src="/logo_final.png" class="imageWell"></div>
        <%= form_for @user, url: users_create_path, html: { multipart: true } do |f| %>
          <%= devise_error_messages! %>
          <br>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, placeholder: 'Ingrese su nombre', class: 'form-control'%>
          </div>
          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, placeholder: 'Ingrese sus apellidos', class: 'form-control'%>
          </div>
          <div class="field">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, placeholder: 'Ingrese su correo', class: 'form-control'%>
          </div>
          <br>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", autofocus: true, placeholder: 'Ingrese su contraseña', class: 'form-control' %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: true, placeholder: 'Confirme su contraseña', class: 'form-control' %>
          </div>
          <br>
          <div class="actions" style="text-align:center">
            <%= f.submit "Registrarse", class: 'btn btn-success myButton' %>
          </div>
        <% end %>
        
        <div style="text-align:center"><%= render "devise/shared/links" %></div>
    </div>

    <div class = "col-sm-4"></div>

</div>

