<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia <%= current_user.name %> !</h1>
                <h3>Por favor escoja una opción</h2>
            </div>
        </div>
    <div class="col-md-6">
        <div style="background-color: lightblue; padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Mallas curriculares</h2> 
            <p style="font-size:15px">Crea o edita las malla estandar para las carreras en la Universidad Nacional de Colombia, <br> sede Bogotá</p>
            <div align="center">
                <%= link_to '¡Crear Nueva!', '#', "data-target" => "#setNameNewCurricular", "data-toggle"=>"modal", :class => "btn btn-success btn-lg" %>
                <div class="dropdown" style="display: inline-block">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Mallas ya existentes<span class="caret"></span></button>
                    <ul class="dropdown-menu">Mallas existentes
                    <% StandardMalla.all.each do |malla| %>
                    <li><%= link_to Career.find(malla.career_id).name, admin_malla_path %></li>
                    <% end %>
                    </ul>
                  </div>
                
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: PaleGoldenRod ;  margin-top: 5px; padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Materias </h2> 
            <p>Crea, elimina o edita materias para las mallas en la universidad nacional.</p>
            <div align="center"><%= link_to '¡Editar!',  subjects_path , class: "btn btn-success btn-lg " %> </div>
        </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer', :vista=> "normal"%>


  <div class="modal fade" id="setNameNewCurricular" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nueva malla</h4>
        </div>
        <div class="modal-body">
             <%= form_for @malla, :url => admin_malla_path(@malla.name), :remote => true do |f|  %>
            <div class="form-group">
              <%= f.label :name, 'Nombre:' %><br>
              <%= f.text_field :name, placeholder: "Introduzca el nombre de la nueva malla", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group" align="center">     
              <%= f.submit '¡Crear malla con ese nombre!', :class => 'btn btn-primary' %>
            </div>
            
            
            <div id="respuesta" style="display: none;"></div>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>