<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" class="back">
        <table id="myTable" class="table table-bordered .table-responsive ">
          <thead class="thead"> 
            <tr>
              <th class="semestre">Semestre 1</th>
              <th class="semestre">Semestre 2</th>
              <th class="semestre">Semestre 3</th>
              <th class="semestre">Semestre 4</th>
              <th class="semestre">Semestre 5</th>
              <th class="semestre">Semestre 6</th>
              <th class="semestre">Semestre 7</th>
              <th class="semestre">Semestre 8</th>
              <th class="semestre">Semestre 9</th>
              <th class="semestre">Semestre 10</th>
            </tr>
          </thead>
          <tbody>
            <tr id="mytr">
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText", :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText", :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
              <td align="center"> <%=  link_to image_tag("/add.png", width: '100'), '#', "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText",  :onclick => 'reset()' %> </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
<script>

function reset() {
    var x = document.getElementById('principal');
    x.style.display='block';
    var z = document.getElementById('existente');
    z.style.display='none';
    var z = document.getElementById('nueva');
    z.style.display='none';
    var z = document.getElementById('electiva');
    z.style.display='none';
    var z = document.getElementById('optativa');
    z.style.display='none';
    var z = document.getElementById('disciplinar');
    z.style.display='none';
    var z = document.getElementById('fundamentacion');
    z.style.display='none';
}

function showExistente() {
    var x = document.getElementById('principal');
    x.style.display='none';
    var y = document.getElementById('existente');
    y.style.display='block';
}
function showNueva() {
    var x = document.getElementById('principal');
    x.style.display='none';
    var y = document.getElementById('nueva');
    y.style.display='block';
}
function showElectiva() {
    var x = document.getElementById('nueva');
    x.style.display='none';
    var y = document.getElementById('electiva');
    y.style.display='block';
}
function showOptativa() {
    var x = document.getElementById('nueva');
    x.style.display='none';
    var y = document.getElementById('optativa');
    y.style.display='block';
}
function showDisciplinar() {
    var x = document.getElementById('nueva');
    x.style.display='none';
    var y = document.getElementById('disciplinar');
    y.style.display='block';
}
function showFundamentacion() {
    var x = document.getElementById('nueva');
    x.style.display='none';
    var y = document.getElementById('fundamentacion');
    y.style.display='block';
}

//function addCol(){
   //Find a <table> element with id="myTable":
  //var table = document.getElementById("myTable");

 //Create an empty <tr> element and add it to the 1st position of the table:
  //var row = document.getElementById("mytr");
  //row.style.id="";
  //var row2 = table.insertRow(2);
  //row2.style.id="mytr";
 //Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
  //var cell1 = row.insertCell(0);
  //var cell2 = row2.insertCell(0);
  //cell2.align = "center";
 //Add some text to the new cells:
  //cell1.innerHTML = "Materia";
  //cell2.innerHTML = '<%=  link_to image_tag("/add.png", width: "100"), "#", "data-target" => "#myModal", "data-toggle"=>"modal", :class=>"MainNavText", :id=>"MainNavHelp", :onclick => "addCol()" %>';
//}


</script>
  <!-- El Modal Agregar Materia-->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-agregar">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Agregar Materia</h2>
        </div>
        <div class="modal-body">
          <div id="principal">
            <div class="form-group" align="center">     
              <button type="button" class="btn btn-default" onclick="showNueva()">Nueva Materia</button>
              <button type="button" class="btn btn-default" onclick="showExistente()">Materia ya existente</button>
            </div>
          </div>
          <div id="existente" style="display: none;">
            <form>
            <%= form_for :post, :url => submit_materia_existente_path do |f|  %>
            <h3>Materia ya existente:</h3>
            <div class="form-group">
              <%= f.label :codigo, 'Código:' %><br>
              <%= f.text_field :codigo, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group" align="center">     
              <%= f.submit 'Agregar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
          </form>
          </div>
          <div id="nueva" style="display: none;">
            <h3>Agregar una nueva materia:</h3>
            <h4>Por favor seleccione la tipologia.</h4>
            <div class="form-group" align="center">     
              <button type="button" class="btn btn-default" onclick="showElectiva()">Electiva</button>
              <button type="button" class="btn btn-default" onclick="showOptativa()">Optativa</button>
              <button type="button" class="btn btn-default" onclick="showDisciplinar()">Disciplinar</button>
              <button type="button" class="btn btn-default" onclick="showFundamentacion()">Fundamentación</button>
            </div>
          </div>
          <div id="electiva" style="display: none;">
            <h3>Agregar una nueva electiva:</h3>
            <form>
            <%= form_for :post, :url => submit_materia_electiva_path do |f|  %>
            <div class="form-group">
              <%= f.label :creditos, 'Número de creditos:' %><br>
              <%= f.text_field :creditos, placeholder: "Introduzca el número de creditos", autofocus: true, :class => 'form-control' %>
            </div> 
            <div class="form-group" align="center">     
              <%= f.submit 'Agregar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
          </form>
          </div>
          <div id="optativa" style="display: none;">
            <h3>Agregar una optativa:</h3>
            <form>
            <%= form_for :post, :url => submit_materia_optativa_path do |f|  %>
            <div class="form-group">
              <%= f.label :codigo, 'Código:' %><br>
              <%= f.text_field :codigo, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :nombre, 'Nombre:' %><br>
              <%= f.text_field :nombre, placeholder: "Introduzca el nombre", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :creditos, 'Número de creditos:' %><br>
              <%= f.text_field :creditos, placeholder: "Introduzca el número de creditos", autofocus: true, :class => 'form-control' %>
            </div> 
             <div class="form-group">
              <%= f.label :pre, 'Prerrequisitos:' %><br>
              <%= f.text_field :pre, placeholder: "Introduzca los prerrequisitos", autofocus: true, :class => 'form-control' %>
            </div> 
            <div class="form-group" align="center">     
              <%= f.submit 'Agregar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
            </form>
          </div>
          <div id="disciplinar" style="display: none;">
            <h3>Agregar una materia disciplinar:</h3>
            <form>
            <%= form_for :post, :url => submit_materia_disciplinar_path do |f|  %>
            <div class="form-group">
              <%= f.label :codigo, 'Código:' %><br>
              <%= f.text_field :codigo, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :nombre, 'Nombre:' %><br>
              <%= f.text_field :nombre, placeholder: "Introduzca el nombre", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :creditos, 'Número de creditos:' %><br>
              <%= f.text_field :creditos, placeholder: "Introduzca el número de creditos", autofocus: true, :class => 'form-control' %>
            </div> 
             <div class="form-group">
              <%= f.label :pre, 'Prerrequisitos:' %><br>
              <%= f.text_field :pre, placeholder: "Introduzca los prerrequisitos", autofocus: true, :class => 'form-control' %>
            </div> 
            <div class="form-group" align="center">     
              <%= f.submit 'Agregar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
            </form>
          </div>
          <div id="fundamentacion" style="display: none;">
            <h3>Agregar una materia de fundamentación:</h3>
            <form>
            <%= form_for :post, :url => submit_materia_fundamentacion_path do |f|  %>
            <div class="form-group">
              <%= f.label :codigo, 'Código:' %><br>
              <%= f.text_field :codigo, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :nombre, 'Nombre:' %><br>
              <%= f.text_field :nombre, placeholder: "Introduzca el nombre", autofocus: true, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :creditos, 'Número de creditos:' %><br>
              <%= f.text_field :creditos, placeholder: "Introduzca el número de creditos", autofocus: true, :class => 'form-control' %>
            </div> 
             <div class="form-group">
              <%= f.label :pre, 'Prerrequisitos:' %><br>
              <%= f.text_field :pre, placeholder: "Introduzca los prerrequisitos", autofocus: true, :class => 'form-control' %>
            </div> 
            <div class="form-group" align="center">     
              <%= f.submit 'Agregar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- The Modal Ayuda -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-ayuda">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Ventana de ayuda</h2>
        </div>
        <div class="modal-body" >
          <div align="center"><img width="80%" class="img-responsive" src="/ayuda_admin.png" class="img-fluid" alt="help" /></div>
        </div>
      </div>
    </div>
  </div>

</div>








