<%= devise_error_messages! %>
<img src="/universidad3.jpg" class="bottomImage">
<div class="row">
  <div class = "col-sm-4"></div>
	<div class = "col-sm-4 well">
    <h1 align="center">Cambiar tu contreña</h1>
      <div align="center"><img src="/logo_final.png" class="imageWell"></div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
        
          <div class="field">
            <%= f.label :password, "Nueva Contraseña" %><br />
            <% if @minimum_password_length %>
              <em>Mínimo <%= @minimum_password_length %> caracteres</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", type: "password", class: "form-control", placeholder: "Ingrese su nueva contraseña"  %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", type: "password", class: "form-control", placeholder: "Confirme la nueva contraseña" %>
          </div>
          </br>
          <div class="actions">
            <%= f.submit "Cambiar contraseña", class: 'btn btn-success myButton' %>
          </div>
        <% end %>
        
        <div style="text-align:center"><%= render "devise/shared/links" %></div>
  </div>
  <div class="col-sm-4"></div>
</div>

<%= render 'layouts/footer', :vista=> "normal"%>