<br>
<br>
<img src="/universidad3.jpg" id="fondo" alt="please">
<div class="row" style="position: relative; top: 8%">
  <div class = "col-sm-4"></div>
		<div class = "col-sm-4 well" style="background: rgba(255, 255, 255, 0.8);">
      <div align="center">

          <div style="position: relative" > <img src="/logo_final.png"  alt="graduacion" height="50%" width="50%"> <h2 >¿Olvidaste tu <br> contraseña?</h2> </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
        
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        
          <div class="actions">
            <%= f.submit "Recuperar mi contraseña", class: 'btn btn-success myButton' %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>