<!DOCTYPE html>
<html>
  <head>
    <title>Ataraxia</title>
    <%= stylesheet_link_tag   'landing', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<div class="container" style="width:100%;height:100%;padding:0px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="/universidad1.jpg" alt="universidad1" style="width:100%;height:100%">
            </div>
            <div class="item">
                <img src="/universidad2.png" alt="universidad2" style="width:100%;height:100%">
            </div>
            <div class="item">
                <img src="/universidad3.png" alt="universidad1" style="width:100%;height:100%">
            </div>
            <div class="item">
                <img src="/testlanding.jpg" alt="universidad1" style="width:100%;height:100%">
            </div>
        </div>
    </div>
    <div class="main-text hidden-xs">
      <div class="col-md-12 text-center">
          <p id="main" style=" font-family: Papyrus, fantasy; text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;">Ataraxia<sub style="font-size: 2vw; font-family: 'Trebuchet MS', Helvetica, sans-serif; ">BETA</sub></p>
          <article>
            <nav class="btn-bar nav-dark">
              <% if user_signed_in? %>
                  <% if current_user.admin? %>
                      <%= link_to "Menú principal", admin_index_path, :class => "btn btn-primary btn-large ", :style => "background-color: black;" %>
                  <% else %>
                      <%= link_to "Menú principal", student_index_path, :class => "btn btn-primary btn-large ", :style => "background-color: black;" %>
                  <% end %>
                  <%= link_to "Editar perfil de #{current_user.email}", edit_user_registration_path, :class => "btn btn-large", :style => "background-color: gray;" %>
                  <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, :class => "btn btn-large", :style => "background-color: black;" %>
              <% else %>
                <%= link_to "Registrarse", new_user_registration_path, :class => "btn  btn-large ", :style => "background-color: black;"%>
                <%= link_to "Entrar", new_user_session_path, :class => "btn  btn-large ", :style => "background-color: gray;"%>
                <%= link_to "Invitado", guess_index_path, :class => "btn  btn-large ", :style => "background-color: gray;" %>
                <%= link_to "¿Qué es Ataraxia?", welcome_ataraxia_path, :class => "btn  btn-large ", :style => "background-color: black;" %>
              <% end %>
            </nav>
          </article>
      </div>
    </div>
  </div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#bienvenida").modal('show');
    });
</script>

<div id="bienvenida" class="modal fade">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: black">
                    <button type="button" class="close" style="color: white; opacity: 0.8;" data-dismiss="modal" aria-hidden="true">&times;</button>
               ¡Hola!, queremos informarte nuestros últimos cambios:
            </div>
            <div class="modal-body">
               <h4 align="center"><b>Actualización /Enero/2018</b></h4><br>
               
               <!-- - Nuevas carreras implementadas en la página:
               <br>
               <ul type = disk >
                    <li>Arquitectura</li>
                    <li>Psicología</li>
                </ul> -->

                <!-- - Carreras actualizadas:
               <br>
               <ul type = disk >
                    <li></li>
                </ul> -->
                
               <!--  - Nuevas Funcionalidades:
               <br>
               <ul type = disk >
                    <li>Reestructuración estetica de la malla de notas promedio.</li>
                    <li>Ahora la página funciona para estudiantes de <b>primer semestre</b>.</li>
                </ul> -->
                
                <!-- - Bugs corregidos:
                <ul type = disk >
                    <li>Errores en promedios de materias que eran mayores a 5.</i></li>
                    <li>Errores en la malla de notas promedio.</i></li>
                </ul> -->
                
                <!--  - Sugerencias de nuestros usuarios:
                <ul type = disk >
                    <li>Botones de ayuda y de cerrar  más visibles.</li>
                    <li>Ahora se muestra el nombre completo de las materias en la malla de notas promedio, al pasar el puntero por encima.</li>
                </ul> -->
 
                <br>Te pedimos paciencia mientras completamos la página, puedes seguirnos en <a href="https://www.facebook.com/AtaraxiaUN/" target="_blank">Facebook</a> para enterarte de todas las actualizaciones y sugerirnos cambios.</p>
                
            </div>
            <div class="modal-footer" style="background-color: black">
                <% aux=rand(1..12) %> 
                <% if aux==1 %>
                      Ten un lindo día :3.
                 <%elsif aux==2 %>
                     ¿Ya nos sigues en Facebook? ¿Qué estás esperando?.
                <%elsif aux==3 %>
                     Si encuentras un bug no dudes en escribirnos.
                <%elsif aux==4 %>
                     Este mensaje cambiará cuando recargues la página.
                <%elsif aux==5 %>
                     ¡Dale al botón "¿Qué es Ataraxia?"!.
                <%elsif aux==6 %>
                     ¡Este semestre vas a subir PAPA!.
                <%elsif aux==7 %>
                     La verdad creamos esta página porque vamos atrasados en nuestra carrera :c.
                <%elsif aux==8 %>
                     ¿Y pa cuándo el grado mijo?.
                <%elsif aux==9 %>
                     Ataraxia para todos y todas :v.
                <%elsif aux==10 %>
                     Si tienes alguna sugerencia no dudes en escribirnos.
                <%elsif aux==11 %>
                     ¿Alguien se fija acá abajo?.
                <%elsif aux==12 %>
                     ¡No olvides usar nuestro botón de ayuda ubicado en la parte de abajo!.
                 <%end%>
              </div>
        </div>
    </div>
</div>

</body>
</html>