
<%= javascript_include_tag 'subject', "data-turbolinks-track" => true %>
<p id="notice"><%= notice %></p>

  <ul class="nav nav-pills nav-justified" style= "font-size:15px; padding-bottom: 15px">
    <li class="active"><%= link_to 'Todas las materias',  '#', "data-toggle"=>"pill", "href"=>"#allSubjects" %></li>
    <li><%= link_to 'Buscar por código',  '#', "data-toggle"=>"pill", "href"=>"#searchByCode" %></li>
    <li><%= link_to 'Buscar por carrera',  '#', "data-toggle"=>"pill", "href"=>"#searchByCarrer" %></li>
    <!--<li><#%= link_to 'Buscar por tiplogía',  '#', "data-toggle"=>"pill", "href"=>"#searchByTypology" %></li>-->
    <li><%= link_to 'Buscar por créditos',  '#', "data-toggle"=>"pill", "href"=>"#searchByCredits" %></li>
  </ul>
  
  <div class="tab-content">
  <div id= "allSubjects" class="tab-pane fade in active">
    
    <table class="table  table-bordered .table-responsive " style="font-size: 10px">
      <thead >
        <tr>
          <th><p style=" text-align: center;">Código</p></th>
          <th><p style=" text-align: center;"> Nombre</p></th>
          <th><p style=" text-align: center;">Creditos</th>
          <th><p style=" text-align: center;">Acción</p> </th>
        </tr>
      </thead>
    
      <tbody>
         
        <% @subjects.each do |subject| %>
          <% if subject.career_has_subjects.find_by(career_id: 1).typology == 'C' %>
          <tr class="success">
          <% elsif subject.career_has_subjects.find_by(career_id: 1).typology == 'B' %>
          <tr class = "info">
          <% elsif subject.career_has_subjects.find_by(career_id: 1).typology == 'L' %>
          <tr class = "warning">
          <% else %>
          <tr class="active">
          <% end %>
            <td><%= subject.code %></td>
            <td><%= subject.name %></td>
            <td><p style="text-align: center"><%= subject.credits %></p></td>
            <td><div style="text-align: center"><%= link_to "<p class='glyphicon glyphicon-log-in' style= 'font-size: 20px;' ></p>".html_safe, subject %>
              <%= link_to "<p class='glyphicon glyphicon-edit' style= 'font-size: 20px;'></p>".html_safe, edit_subject_path(subject) %>
              <%= link_to "<p class='glyphicon glyphicon-remove' style= 'font-size: 20px'></p>".html_safe, subject, method: :delete, data: { confirm: '¿Esta seguro de borrar esa materia?' } %> </div></td>
          </tr>
        <% end %>
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td> <div style="text-align: center"><%= link_to "<p class='glyphicon glyphicon-ok' style= 'font-size: 20px;'></p>".html_safe, new_subject_path %></div>
         </tr>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @subjects, renderer: BootstrapPagination::Rails,  :previous_label => 'Página anterior', :next_label => 'Página siguiente', class: "text-center"%></div>
    <br>
    <%= render 'layouts/footer', :vista=> "normal"%>
    </div>
    <div id="searchByCode" class="tab-pane fade">
      <%= form_for @subject_search, :url => edit_existing_subject_path, :remote => true do |f|  %>
            <h2 style="text-align: center;"><br>Buscar una materia ya existente por código:<br></h2>
            <br>
            <div class="form-group">
              <div style="padding: 0px 180px 0px 180px;">
              <%= f.label :code, 'Código:' %><br>
              <%= f.text_field :code, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
              </div>
              <h1 id = "jschange"></h1>
                <table class="table table-striped table-bordered .table-responsive" id="tableQuery" style="display: none; font-size: 10px" >
                    <thead id="tblHead">
                      <tr>
                        <th><p style=" text-align: center;">Materia</p></th>
                        <th><p style=" text-align: center;">Código</p></th>
                        <th><p style=" text-align: center;">Créditos</p></th>
                        <th><p style=" text-align: center;">Acción</p></th>
                      </tr>
                    </thead>
                    <tbody id="tbodyid">
                    </tbody>
                  </table>
              </div>
            <div class="form-group" align="center">     
              <%= f.submit 'Buscar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
      </div>
      <div id="searchByCarrer" class="tab-pane fade">
        <div class="container-fluid">
          <h2 style="text-align: center;">Buscar una materia por carrera, se muestran las materias por carrera:</h2>
            <div id="carrer_container"> 
                <% Malla.all.each do |carrer| %>
                   <div class="rcorners1" align="left" style="background:green;"><%= carrer.semesters.count %></div>
                    <div class="rcorners2" align="center">
                      <i class="glyphicon glyphicon-tower"></i>
                        <%= link_to carrer.nombre, admin_open_modal_path(:s => 54, :typ => 546), remote: true %></div>
                        <% end %>
            </div>
          
      </div>
    </div>

    <div id="searchByCredits" class="tab-pane fade">
            <%= form_for @subject_search, :url => edit_existing_subject_path, :remote => true do |f|  %>
            <h2 style="text-align: center;">Buscar una materia ya existente por número de créditos:</h2>
            <div class="form-group">
              <div style="padding: 0px 180px 0px 180px;">
              <%= f.label :credits, 'Créditos:' %><br>
              <%= f.text_field :credits, placeholder: "Introduzca el número de créditos", autofocus: true, :class => 'form-control' %>
              </div>
              <h1 id = "jschange"></h1>
                      <table class="table table-striped" id="tableQuery" style="display: none;" >
                    <thead id="tblHead">
                      <tr>
                        <th>Materia</th>
                        <th>Código</th>
                        <th class="text-right">Tipología</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyid">
                    </tbody>
                  </table>
            </div>
            <div class="form-group" align="center">     
              <%= f.submit 'Buscar materia', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
    </div>
    <div id="searchByTypology" class="tab-pane fade">
       <ul class="nav nav-pills nav-justified" style= "font-size:30px;">
          <li class="active"><%= link_to 'Materias de fundamentación',  '#', "data-toggle"=>"pill", "href"=>"#fundamentacion" %></li>
          <li><%= link_to 'Materias disciplinares',  '#', "data-toggle"=>"pill", "href"=>"#disciplinares" %></li>
          <li><%= link_to 'Materias de libre eleccción',  '#', "data-toggle"=>"pill", "href"=>"#electivas" %></li>
          <li><%= link_to 'Materias optativas',  '#', "data-toggle"=>"pill", "href"=>"#optativas" %></li>
          <li><%= link_to 'Otras',  '#', "data-toggle"=>"pill", "href"=>"#otras" %></li>
        </ul>
        <div class="tab-content">
          <div id="fundamentacion" class="tab-pane fade">
          <%= render partial: "subjects_by_typology", locals: {typology_searched: 'B' } %>
        </div>
         <div id="disciplinares" class="tab-pane fade">
          <%= render partial: "subjects_by_typology", locals: {typology_searched: 'C' } %>
        </div> 
         <div id="electivas" class="tab-pane fade">
          <%= render partial: "subjects_by_typology", locals: {typology_searched: 'L' } %>
        </div> 
         <div id="optativas" class="tab-pane fade">
          <%= render partial: "subjects_by_typology", locals: {typology_searched: 'O' } %>
        </div> 
         <div id="otras" class="tab-pane fade">
          <%= render partial: "subjects_by_typology", locals: {typology_searched: 'X' } %>
        </div> 
        </div>
    </div>

</div>







