<p id="notice"><%= notice %></p>

<h1 class="text-center">  <%= @subject.name %> - <%= @subject.code %></h1>




<p>
  <strong>Credits:</strong>
  <%= @subject.credits %>
</p>

<h2>  <%= @subject.name %> pertenece a las siguientes carreras (mostrar carrera y tipologia en la carrera): </h2>

<h2>  <%= @subject.name %> tiene como prerequisitos en cada una de las carreras: </h2>

<h2>  <%= @subject.name %> abre materias en cada una de las carreras: </h2>

<%= link_to 'Editar', edit_subject_path(@subject) %> |
<%= link_to 'Atrás', subjects_path %>
