<%= javascript_include_tag 'admin', "data-turbolinks-track" => true %>
<% @user = user %>
<% @malla = malla %>
<div class="row">
        <div class="col-md-12" class="back">
        <table id="tableSemesters" class="table table-bordered .table-responsive ">
          <thead class="thead"> 
            <tr>
              <% @malla.semesters.each do |sem| %>
                <th >
                  <p class="semestre" style="font-size: 50%">Semestre <br> <%= sem.number %></p>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr id="mytr">
              <% current_semester = 1 %>
              <% @malla.semesters.each do |sem| %>
                <td align="center">
                  <% sem.career_has_subjects.each do |chs| %>
                    <% if vista=="admin_malla" %> 
                    <%= render partial: "admin/subject", locals: {vista2: "admin_malla", chs: chs, typ: chs.typology, sem: sem } %>
                    <% else %>
                    <%= render partial: "admin/subject", locals: {vista2: "", chs: chs, typ: chs.typology, sem: sem} %>
                    <% end %>
                  <% end %>
<<<<<<< HEAD
                  
                  <% sem.subjects.each do |student_subj| %>
                    <% if vista=="admin_malla" %> 
                    <%= render partial: "layouts/subject", locals: {subj: student_subj, typ: sem.semester_has_student_subjects.find_by(subject_id: student_subj.id).typology, sem: sem} %>
                    
                    <% else %>
                    <%= render partial: "layouts/subject", locals: {subj: student_subj, typ: sem.semester_has_student_subjects.find_by(subject_id: student_subj.id).typology, sem: sem } %>
                    <% end %>
                  <% end %>
                  <br>  
                  
                  
                   <% if empty_semester && current_semester == @malla.semesters.length  %>
                      <%= link_to "<p class='glyphicon glyphicon-remove'></p>".html_safe, '#', "data-target" => "#removeSemester", "data-toggle"=>"modal", :class => "MainNavText", :onclick => "reset_and_assign('#{current_semester.to_s}')" %>
                     <br>
                    <% end %>
=======
                  <br>
>>>>>>> 989f811ab004815b372712ec2aeb42725c74b329
                  <% if vista=="admin_malla" %>
                      <%= link_to "<p class='glyphicon glyphicon-plus'></p>".html_safe, '#', "data-target" => "#myModal2", "data-toggle"=>"modal", :class => "MainNavText", :onclick => "reset_and_assign('#{current_semester.to_s}')" %>
                  <%end%>
                  <% current_semester += 1%>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  
  <!-- El Modal mostrar materia partial
<div class="modal"></div>-->

 <div id="editingSubjectsii" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div id="divSubjectModal" class="modal-header modal-disciplinar">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 id= "nameSubjectModal" align="center"></h2>
        </div>
        <% form_for @user, :url => change_semester_path, :remote => true do |f|  %>
        <%= f.select :name, ((0..500).map {|i| [i,i] } << ["No limit",nil]) %>
        <%= f.submit 'Cambiar semestre', :class => 'btn btn-primary' %>
        <% end %>
        
        <div class="modal-body">
          <div id="subjectData"></div>
            <br>
            <h4 class = "text-left"><b>Prerrequisitos: </b></h4>
            <h5 id = "jschangeiii"></h5>
    <table class="table table-striped" id = "tablePrerrequisitosSubjectModal"  style="font-size: 7px;"  >
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Créditos</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody id="tbodyidPrerrequisitosSubjectModal">
    </tbody>
  </table>
  
  <% unless vista == "student_malla" %>
    <div id="existente">
          
            <%= form_for @subject, :url => search_prerequisite_path, :remote => true do |f|  %>
                        <br>
            <h4><b>Agregar un prerrequisito por código:</b></h4>
            <div class="form-group">
              <%= f.label :code, 'Código:' %><br>
              <%= f.text_field :code, placeholder: "Introduzca el código", autofocus: true, :class => 'form-control' %>
              <%= f.hidden_field :code_subject_to_add %>
              <h3 id = "jschangeii"></h3>
                <table class="table table-striped" id="tableQueryPrerrequisitos" style="display: none; font-size: 7px;">
                    <thead id="tblHead">
                      <tr>
                        <th>Materia</th>
                        <th>Código</th>
                        <th>Tipología</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyidPrerrequisitos">
                    </tbody>
                  </table>
            </div>
            <div class="form-group" align="center">     
              <%= f.submit 'Buscar prerrequisito', :class => 'btn btn-primary' %>
              <%= button_tag "Limpiar", type: :reset, :class => 'btn btn-default' %>
            </div>
            <div id="respuesta" style="display: none;"></div>
            <% end %>
          
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>