<%= javascript_include_tag 'admin', "data-turbolinks-track" => true %>
<% @not_approved = false %>
<% begin %>
<% @not_approved = true if array_of_not_approved.include? subj.code %>
<% array_of_not_approved.delete(subj.code) if array_of_not_approved.include? subj.code %>

<% rescue%>

<% end %>

<% subjects_currently_attending ||= [] %>
<% @currently_attending = false %>
<% subjects_currently_attending.each do |chs| %>
    <% @currently_attending = true if subj.id == Subject.find(chs.subject_id).id%>
<% end %>


<% s_vista ||= "not_assigned" %>
<% unless estadisticas %>
 <% unless @show_approved and @not_approved%>
        <div id="subj" >
            <%begin%>
              <% if vista == "student_malla"  && s_vista == "personal" %>

                  <% if sem.number >= User.get_current_semester(current_user.id) %>
            <%= link_to "&times;".html_safe, remove_subject_path(chs.id, sem.id), :class => 'close', :style => 'padding-right: 5px;' %>
            <% end %>

              <% elsif vista == "admin_malla"   %>

                  <%= link_to "&times;".html_safe, remove_subject_path(chs.id, sem.id), :class => 'close', :style => 'padding-right: 5px;' %>

              <% end %>


          <%rescue%>
            <% end %>
            <%if vista == "malla_avance" and aprobada%>
                    <div class="rcorners1" align="center" style="background:black; color: white;"><%= subj.credits %> </div>

          <% elsif vista == "malla_avance" and @currently_attending %>
              <div class="rcorners1" align="center" style="background:purple; color: white;"><%= subj.credits %> </div>
            <%elsif @not_approved%>
             <div class="rcorners1" align="center" style="background:red; color: white;"><%= subj.credits %> </div>
            <%else%>
                <% if typ=='B' %>
                        <div class="rcorners1" align="center" style="background:#FEC34C;"><%= subj.credits %> </div>
                    <% elsif typ=='C' %>
                        <div class="rcorners1" align="center" style="background:#32CD32;"><%= subj.credits %> </div>
                    <% elsif typ=='L' %>
                        <div class="rcorners1" align="center" style="background:#45d0ff;"><%= subj.credits %> </div>
                    <% elsif typ=='O' %>
                        <div class="rcorners1" align="center" style="background:#91A3B0;"><%= subj.credits %> </div>
                    <% elsif typ=='P' %>
                        <div class="rcorners1" align="center" style="background:#88B04B;"><%= subj.credits %> </div>
                    <% else %>
                        <div class="rcorners1" align="center" style="background:#C00000;"><%= subj.credits %> </div>
                    <% end %>
            <%end%>
           <%if vista == "malla_avance"  and aprobada or @not_approved or @currently_attending%>
              <div class="rcorners2" style="background:#ececec;" align="center">
                <%= link_to truncate(subj.name, :length => 35), open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %>
                </div>

            <%else%>
                <div class="rcorners2" align="center">
                    <%= link_to truncate(subj.name, :length => 35), open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %>
                 </div>
             <%end%>
        </div>
        <% end %>
    <%else%>
        
    <% if notas %>
                <div id="subj" >

            
              <%if @not_approved%>
                    <div class="rcorners1" align="center" style="background:black; color: white;"><%= subj.credits %> </div>

            <%else%>
            <% if typ=='B' %>
                <div class="rcorners1" align="center" style="background:#FEC34C;"><%= link_to subj.name.partition(" ").first, open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %> </div>
            <% elsif typ=='C' %>
                <div class="rcorners1" align="center" style="background:#32CD32;"><%= link_to subj.name.partition(" ").first, open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %></div>
            <% elsif typ=='L' %>
                <div class="rcorners1" align="center" style="background:#45d0ff;"><%= subj.credits %> </div>
            <% elsif typ=='O' %>
                <div class="rcorners1" align="center" style="background:#91A3B0;"><%= link_to subj.name.partition(" ").first, open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %> </div>
            <% elsif typ=='P' %>
                <div class="rcorners1" align="center" style="background:#88B04B;"><%= link_to subj.name.partition(" ").first, open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %></div>
            <% else %>
                <div class="rcorners1" align="center" style="background:#C00000;"><%= link_to subj.name.partition(" ").first, open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %> </div>
            <% end %>
            <% end %>
        <div class="rcorners2" align="center">
            <% unless typ=='L' %>
                  <div>
                    <br> 
                    <% @average = Subject.get_average_grade(subj.code)  %>
                    <% unless @average == -1 %>
                    <p>Promedio: <%= @average.round(2) %></p>
                    <% else %>
                    <p>Promedio: ------</p>
                    <% end %>
                    <% if grade != 5.1 %>
                        <% if @average<=grade %>
                            <strong><p style="color: #006400;">Tu nota: <%= grade %></p></strong>
                        <% else %>
                            <strong><p style="color: red;">Tu nota: <%= grade %></p></strong>
                        <% end %>
                    <%else%>
                        <p>Aún no la has visto</p>
                    <%end%>
                </div>
            <% else %>
                <%= link_to truncate(subj.name, :length => 35), open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %>
            <% end %>
            </div>
        </div>
    <%else%>
            <% @average = Subject.get_average_grade(subj.code)  %>
            <div id="subj" >
            <% if typ=='L' %>
                <div class="rcorners1" align="center" style="background:#45d0ff;"><%= subj.credits %> </div>
            <%else%>
                <% if @average < 1 %>
                    <div class="rcorners1" align="center" style="background:#ff6666;"><%= subj.credits %> </div>
                <% elsif @average >= 1 && @average < 1.5 %>
                    <div class="rcorners1" align="center" style="background:#ff8c66;"><%= subj.credits %> </div>
                <% elsif @average >= 1.5 && @average < 2 %>
                    <div class="rcorners1" align="center" style="background:#ffb366; "><%= subj.credits %> </div>
                <% elsif  @average >= 2 && @average < 2.5 %>
                    <div class="rcorners1" align="center" style="background:#ffd966; "><%= subj.credits %> </div>
                <% elsif @average >= 2.5 && @average < 3 %>
                    <div class="rcorners1" align="center" style="background:#ffff66; "><%= subj.credits %> </div>
                <% elsif  @average>= 3 && @average<3.5 %>
                    <div class="rcorners1" align="center" style="background:#d9ff66; "><%= subj.credits %> </div>
                <% elsif @average>=3.5 && @average<4 %>
                    <div class="rcorners1" align="center" style="background:#b3ff66; "><%= subj.credits %> </div>
                <% elsif @average >= 4 && @average < 4.5 %>
                    <div class="rcorners1" align="center" style="background:#8cff66; "><%= subj.credits %> </div>
                <% elsif @average >= 4.5 && @average < 5 %>
                    <div class="rcorners1" align="center" style="background:#66ff66;"><%= subj.credits %> </div>
            <% end %>
            <%end%>
        <div class="rcorners2" align="center">
                    <%= link_to truncate(subj.name, :length => 35), open_modal_for_subject_path(:s => subj.id, :typ => typ, :code_career => code_career, :role => vista), remote: true, :style => 'color: black;' %>
                 </div>
        </div>
    <% end %>


<% end %>
