<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ataraxia</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'logo_final.png', height: 40, :style => "margin-top: 5px" %>
        <% end %>
      <%= link_to 'Ataraxia', root_path, {:style=>'font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 250%', :class => "navbar-brand", :onclick => 'recharge2()'} %>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
    <% if user_signed_in? %>
    
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag current_user.avatar.url(:medium), height: 30%><%= current_user.name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            
             <li><%= link_to "<p class='glyphicon glyphicon-home'></p>&nbsp;Menu Principal".html_safe,  admin_index_path %></li>
             <li><%= link_to "<p class='glyphicon glyphicon-stats'></p>&nbsp;Ver estadisticas".html_safe,  admin_statistics_path %></li>
            <% else %>
              <li><%= link_to "<p class='glyphicon glyphicon-home'></p>&nbsp;Menu Principal".html_safe,  student_index_path %></li>
               <li><%= link_to "<p class='glyphicon glyphicon-user'></p>&nbsp;Ver perfil".html_safe, current_user %></li>
              <li><%= link_to "<p class='glyphicon glyphicon-stats'></p>&nbsp;Ver estadisticas".html_safe, student_estadisticas_path %></li>
            <% end %>
            	<li><%= link_to "<p class='glyphicon glyphicon-pencil'></p>&nbsp;Editar Perfil".html_safe, edit_user_registration_path %></li>
            	<li><%= link_to "<p class='glyphicon glyphicon-remove-sign'></p>&nbsp;Cerrar sesión".html_safe, destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>

    <% else %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "<p class='glyphicon glyphicon-user'></p>&nbsp;Registrarse".html_safe, new_user_registration_path, :class => "navbar-brand" %></li>
        <li><%= link_to "<p class='glyphicon glyphicon-log-in'></p>&nbsp;Entrar".html_safe, new_user_session_path, :class => "navbar-brand" %></li>
      </ul>
    <% end %>
    </div>
  </div>
</nav>

  <br><br><br>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <br><br>
</body>
</html>
