<!DOCTYPE html>
<html>
  <head>
    <title>Ataraxia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 
  </head>

  <body>
    <nav class="navbar navbar-inverse">

	<div class="pull-left" >
		<a href="#" class="navbar-left"><img src="logo_final.png" style="width:15%;height=15%;margin-top:1%"></a>
	</div>
    


	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><%= link_to('', '#') %></li>
			<li><%= link_to('', '#') %></li>
			<li><%= link_to('', '#') %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" style="a-color: black">
			<li> <%= link_to 'Ataraxia', root_path, {:style=>'color:white; position: relative; left: -1850%'} %> </li>
			<% if user_signed_in? %>
				<li><%= link_to 'My Account', edit_user_registration_path, {:style=>'color:white;'} %></li>
				<li><%= link_to "Sign out", destroy_user_session_path, {:style=>'color:white;', :method => :delete} %></li>
			<% else %>
				<li><%= link_to "Entrar", new_user_session_path %></li>
				<li><%= link_to "Registrarse", new_user_registration_path %></li>
				<li><%= link_to "Entrar como invitado", destroy_user_session_path %></li>
			<% end %>
		</ul>
	</div><!--/.nav-collapse -->
	<!--/.container-fluid -->
	</nav>


		<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                		<li> <%= link_to 'Contactenos', root_path, {:style=>'position: relative; left: -340%'} %> </li>
                		<li> <%= link_to 'GitHub', "https://github.com/sedUNdnes/Ataraxia", {:style=>'position: relative; left: -450%'} %> </li
                </ul>
            </div>
        </div>
    </div>
</footer>
    <%= yield %>
  </body>
</html>
